<ion-header translucent>
    <ion-toolbar color="tertiary">
        <ion-title class="ion-text-center">POKEDAN</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-list>
        <ion-item detail button routerLink="/pokedex">
            <ion-icon color="primary" slot="start" name="add">
            </ion-icon>
            <ion-label>Pokedéx</ion-label>
        </ion-item>
        <ion-item detail button routerLink="/pokedex">
            <ion-icon color="secondary" slot="start" name="logo-google"></ion-icon>
            <ion-label>Abilities</ion-label>
        </ion-item>
        <ion-item detail button routerLink="/pokedex">
            <ion-icon color="success" slot="start" name="logo-google-playstore"></ion-icon>
            <ion-label>Items</ion-label>
        </ion-item>
        <ion-item detail button routerLink="/pokedex">
            <ion-icon color="dark" slot="start" name="logo-apple"></ion-icon>
            <ion-label>Moves</ion-label>
        </ion-item>
    </ion-list>
    <ion-img src="./assets/pokeinfo.png"></ion-img>
</ion-content>